# Common configuration
lxc.include = /usr/share/lxc/config/{{ template }}.common.conf

# Container specific configuration
lxc.rootfs = /var/lib/lxc/{{ name }}/rootfs
lxc.rootfs.backend = dir
lxc.utsname = {{ name }}
lxc.arch = {{ arch }}

{%- for key, value in config.items() %}
{%-   if value != None %}
{{ key }} = {{ value }}
{%-   endif %}
{%- endfor %}

# Network configuration
{%- macro render_network_item(items, key ) %}
{%-   set value = items.get(key, None) %}
{%-   if value != None %}
lxc.network.{{ key }} = {{ value }}
{%-   endif %}
{%- endmacro %}
{%- for name in interfaces.keys()|sort %}
{%-   set config = interfaces.get(name) %}
# -- {{ name }}
{%-   set items = {'type': 'veth', 'flags': 'up'} %}
{%-   do items.update({'name': name})  %}
{%-   do items.update(config)  %}
{%-   set start_keys = ['type', 'name', 'flags'] %}
{%-   for key in start_keys %}
{{-     render_network_item(items, key) }}
{%-   endfor %}
{%-   for key in items.keys() %}
{%-     if not key in start_keys %}
{{-       render_network_item(items, key) }}
{%-     endif %}
{%-   endfor %}
{% endfor %}
